/* ---------- For desktop and large Laptops (<= 1200px) ---------- */
@media (max-width: 1200px) {
  .hero__title {
    font-size: var(--font-xl);
    line-height: 46px;
  }
  .embs-section p {
    font-size: 1rem;
    margin: 0;
  }
  .mission-vision-section .card .card-body .card-title {
    font-size: var(--font-semi-xl);
    font-weight: 500;
  }
  .mission-vision-section .card .card-body .card-text {
    font-size: var(--font-md);
    line-height: 1.5;
  }
  .events-section .section-title {
    font-size: var(--font-xl);
  }
  .media-section .section-title {
    font-size: var(--font-xl);
  }
  .membership-section__title {
    font-size: 40px;
    line-height: 50px;
  }
  .membership-section__subtitle {
    font-size: var(--font-md);
  }
  .membership-section__btn {
    text-align: center;
    padding: 0.8rem;
  }
  .office-bearers-section .section-title {
    font-size: var(--font-xl);
  }
  .office-bearers-section .bearer-card__name {
    font-size: var(--font-lg);
  }
  .office-bearers-section .bearer-card__contact {
    font-size: var(--font-md);
  }
  .event-section .event-content .event-title {
    font-size: var(--font-xl);
  }
  .event-section .event-content .event-list .event-item {
    gap: 1rem;
  }
  .event-section .event-content .event-list .event-item span {
    font-size: 0.9rem;
  }
  .stats-section .stats-box .stats-details .stats-number {
    font-size: var(--font-xl);
  }
  .stats-section .stats-box .stats-details .stats-label {
    font-size: var(--font-lg);
  }
  .stats-section .stats-box .stats-icon {
    width: 36px;
    height: 36px;
    margin-right: 0.8rem;
  }
  .conference-section .conference-card .conference-content h3 {
    font-size: var(--font-lg);
  }
  .conference-section .conference-card .conference-content p {
    font-size: var(--font-md);
    line-height: 1.5;
  }
  .awards-section .awards-title {
    font-size: var(--font-xl);
  }
  .awards-section .award-item .award-text h3 {
    font-size: var(--font-lg);
  }
  .awards-section .award-item .award-text p {
    font-size: var(--font-md);
    line-height: 1.5;
  }
  .speakers-section .speakers-intro h2 {
    font-size: var(--font-xl);
  }
  .speakers-section .speakers-intro p {
    font-size: var(--font-md);
    line-height: 1.5;
  }
  .speakers-section .speaker-card .speaker-info h4 {
    font-size: var(--font-md);
  }
  .speakers-section .speaker-card .speaker-info .affiliation {
    font-size: var(--font-md);
  }
  .speakers-section .speaker-card .speaker-info p {
    font-size: var(--font-sm);
  }
  .research-section .research-intro h2 {
    font-size: var(--font-xl);
  }
  .research-section .research-intro .subheading {
    font-size: var(--font-lg);
  }
  .research-section .research-intro .description {
    font-size: var(--font-md);
  }
  .research-section .labs .lab-details {
    font-size: 0.9rem;
  }
  .research-section .labs .lab-details p {
    font-size: 0.9rem;
  }
  .research-section .labs .lab-list p {
    font-size: 0.9rem;
  }
  .research-section .publications h3 {
    font-size: 1rem;
  }
  .research-section .publications ul li {
    font-size: 0.9rem;
    gap: 0.4rem;
  }
  .research-section .publications ul li img {
    width: 14px;
    height: 14px;
    margin-top: 0.4rem;
  }
  .alumni-section h2 {
    font-size: var(--font-xl);
  }
  .alumni-section .subtitle {
    font-size: var(--font-lg);
  }
  .alumni-section .alumni-border .alumni-card .alumni-info .description {
    font-size: var(--font-md);
  }
  .alumni-section .grid-links ul li {
    font-size: var(--font-sm);
  }
  .contact-section h2 {
    font-size: var(--font-xl);
    margin-bottom: 1rem;
  }
  .site-footer .footer-left {
    font-size: var(--font-sm);
  }
  .site-footer .footer-right {
    font-size: var(--font-sm);
  }
}
@media (max-width: 1140px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}
/* ---------- For Tablets and Small Laptops (<= 992px) ---------- */
@media (max-width: 992px) {
  .hero__logo {
    height: auto;
  }
  .hero__botom-tagline {
    font-size: 1rem;
    max-width: 360px;
  }
  .hero__botom-tagline {
    font-size: 0.9rem;
    width: 100%;
  }
  .hero__title {
    font-size: 37px;
    line-height: 43px;
  }
  .membership-section {
    background: var(--primary-color);
  }
  .membership-section__content {
    justify-content: center;
    text-align: center;
  }
  .office-bearers-section .bearer-cards .bearer-card .bearer-card__role {
    font-size: var(--font-sm);
  }
  .office-bearers-section .bearer-cards .bearer-card__name {
    font-size: var(--font-md);
  }
  .office-bearers-section .bearer-cards .bearer-card__contact {
    font-size: var(--font-sm);
  }
  .event-section .event-content {
    grid-template-columns: 1fr;
  }
  .event-section .event-item {
    padding: 1rem 1.2rem;
  }
  .event-section .event-item span {
    font-size: 0.95rem;
  }
  .stats-section .stats-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .stats-section .stats-box {
    min-width: auto;
  }
  .stats-section .stats-box.stats-guests {
    grid-column: span 2;
  }
  .conference-section .conference-card .conference-content h3 {
    font-size: var(--font-md);
  }
  .conference-section .conference-card .conference-content p {
    font-size: var(--font-sm);
  }
  .conference-section .conference-card .conference-content .read-more {
    padding: 0.5rem 1.4rem;
    font-size: 0.95rem;
  }
  .awards-section .award-item {
    display: flex;
    flex-direction: column !important;
  }
  .awards-section .award-item.reverse {
    flex-direction: column-reverse !important;
  }
  .awards-section .award-item .award-text h3 {
    font-size: var(--font-md);
  }
  .awards-section .award-item .award-text p {
    font-size: var(--font-sm);
  }
  .awards-section .award-item .award-text .read-more-btn {
    padding: 0.5rem 1.4rem;
  }
  .awards-section .award-item .award-border {
    width: 100%;
    height: 100%;
  }
  .awards-section .award-item .award-border .award-image img {
    width: 100%;
    height: 100%;
    scale: 1;
  }
  .speakers-section .speakers-container {
    grid-template-columns: 100%;
  }
  .research-section .labs {
    flex-direction: column;
  }
  .research-section .labs .lab-list {
    border-right: none;
    border-bottom: 1px solid #ccc;
    padding-right: 0;
    padding-bottom: 1rem;
  }
  .research-section .labs .lab-details {
    padding: 2rem 1rem;
  }
  .alumni-section .alumni-grid {
    flex-direction: column;
  }
  .alumni-section .alumni-border {
    margin-bottom: 2rem;
  }
  .alumni-section .alumni-border .alumni-card {
    flex-direction: column;
    padding: 1.5rem;
  }
  .alumni-section .alumni-border .alumni-card::before, .alumni-section .alumni-border .alumni-card::after {
    bottom: -10.5rem;
    right: -10rem;
    display: none;
  }
  .alumni-section .alumni-border .alumni-card .alumni-image img {
    width: 50%;
    height: 50%;
    object-fit: contain;
  }
  .alumni-section .alumni-card .alumni-info h3 {
    font-size: var(--font-md);
  }
  .alumni-section .alumni-card .alumni-info .email {
    font-size: var(--font-sm);
  }
  .alumni-section .alumni-card .alumni-info .description {
    font-size: var(--font-sm);
  }
  .alumni-section .boxes {
    flex-direction: row;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
  }
  .alumni-section .boxes img {
    rotate: -90deg;
  }
  .alumni-section .grid-links {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .alumni-section .grid-links .mentorship-programs {
    border-left: none;
    padding-left: 0;
    grid-column: auto;
  }
  .contact-section .section-title {
    font-size: var(--font-xl);
  }
  .site-footer .footer-container {
    flex-direction: column;
    justify-content: center;
  }
}
/* ---------- For Tablets and Large Phones (<= 767px) ---------- */
@media (max-width: 768px) {
  .hero__logo {
    width: 110px;
    height: auto;
  }
  .embs-section {
    margin-top: 0rem;
    padding: 4rem 0rem;
  }
  .mission-vision-section {
    margin-top: 0;
    padding: 0rem;
  }
  .mission-vision-section .row {
    grid-template-columns: 1fr;
  }
  .events-section {
    margin-top: 0;
    padding: 4rem 0rem;
  }
  .events-section .owl-carousel .owl-stage-outer {
    padding-bottom: 0;
  }
  .events-section .owl-dots {
    display: none;
  }
  .media-section {
    margin-top: 0;
    padding: 0rem;
  }
  .membership-section {
    margin: 4rem 0;
    padding: 1.5rem 0rem;
  }
  .office-bearers-section {
    padding: 0;
    margin-top: 0;
  }
  .office-bearers-section .bearer-cards {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
  }
  .event-section {
    margin-top: 0;
    padding: 4rem 0rem;
  }
  .stats-section {
    padding: 0rem 0rem;
    margin-top: 0;
  }
  .conference-section .conference-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .conference-section .conference-card .conference-img {
    height: 300px;
  }
  .conference-section .conference-card .conference-content {
    padding-top: 0.8rem;
  }
  .conference-section .conference-card .conference-content h3 {
    font-size: 1.1rem;
  }
  .conference-section .conference-card .conference-content p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .awards-section {
    padding: 4rem 0rem 2rem;
  }
  .speakers-section {
    padding: 4rem 0rem;
  }
  .research-section {
    padding: 0 0rem 4rem;
  }
  .research-section .publications {
    padding: 2rem 0 0;
  }
  .alumni-section {
    padding: 4rem 0rem;
  }
  .alumni-section .grid-links .mentorship-list {
    grid-template-columns: 1fr;
  }
  .contact-section {
    padding: 1.5rem 1rem;
  }
  .contact-section h2 {
    font-size: var(--font-xl);
  }
  .contact-section .contact-form .input-row {
    flex-direction: column;
  }
  .contact-section .contact-form .angled-button {
    width: 100%;
    text-align: center;
    align-self: stretch;
    clip-path: none;
  }
}
/* ---------- For Small Phones (<= 576px) ---------- */
@media (min-width: 576px) {
  .hero__menu-toggle {
    position: relative;
  }
  .hero__menu-toggle .dropdown {
    min-width: 30rem;
  }
}
@media (max-width: 576px) {
  .hero {
    height: 60vh;
    min-height: 330px;
  }
  .hero__botom-tagline {
    font-size: 0.8rem;
    width: 100%;
    height: 0;
  }
  .hero__bottom-strip {
    display: none;
  }
  .hero__nav-strip {
    height: 70px;
  }
  .hero__nav-strip::before {
    clip-path: none;
  }
  .hero__logo, .hero__logo.ku {
    max-width: 150px;
    max-height: 35px;
    width: auto;
    height: auto;
  }
  .hero__ieee-logo {
    filter: brightness(0) saturate(100%);
    height: 27px;
  }
  .hero .toggle-menu {
    margin-left: 20px;
  }
  .hero .toggle-menu .bar {
    background-color: var(--black-color);
  }
  .hero__title {
    font-size: var(--font-semi-xl);
    line-height: 37px;
  }
  .embs-section p {
    font-size: 0.9rem;
  }
  .mission-vision-section {
    background: var(--white-color);
  }
  .mission-vision-section .card {
    border: none;
    color: var(--white-color);
    position: relative;
    overflow: hidden;
  }
  .mission-vision-section .card p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .events-section .section-title {
    font-size: var(--font-semi-xl);
  }
  .media-section .section-title {
    font-size: var(--font-semi-xl);
  }
  .membership-section:after {
    width: 100%;
    z-index: 1;
    opacity: 0.2;
  }
  .membership-section__content {
    height: auto;
    padding: 2rem;
    position: relative;
    z-index: 2;
  }
  .membership-section__title {
    font-size: 2rem;
  }
  .membership-section__subtitle {
    font-size: 0.9rem;
    line-height: 23px;
  }
  .membership-section__btn {
    text-align: center;
    padding: 0.8rem;
  }
  .office-bearers-section .section-title {
    font-size: var(--font-semi-xl);
  }
  .office-bearers-section .bearer-cards {
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .event-section .event-content .event-title {
    font-size: var(--font-semi-xl);
  }
  .event-section .event-content .event-list .event-item {
    gap: 1rem;
  }
  .event-section .event-content .event-list .event-item span {
    font-size: 0.8rem;
  }
  .stats-section .stats-grid {
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  .stats-section .stats-box {
    padding: 1.2rem;
  }
  .stats-section .stats-box .stats-details .stats-number {
    font-size: 1.8rem;
  }
  .stats-section .stats-box .stats-details .stats-label {
    font-size: 0.9rem;
  }
  .stats-section .stats-box .stats-icon {
    width: 36px;
    height: 36px;
    margin-right: 0.8rem;
  }
  .conference-section .conference-grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .conference-section .conference-card .conference-img {
    height: 300px;
  }
  .conference-section .conference-card .conference-content {
    padding-top: 0.8rem;
  }
  .conference-section .conference-card .conference-content h3 {
    font-size: 1.1rem;
  }
  .conference-section .conference-card .conference-content p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .conference-section .conference-card .conference-content .read-more {
    font-size: 0.95rem;
    padding: 0.5rem 1.2rem;
    width: calc(100% - 20.5px);
    display: block;
    text-align: center;
    clip-path: none;
  }
  .awards-section .awards-title {
    font-size: var(--font-semi-xl);
    margin-bottom: 2rem;
    text-align: center;
  }
  .awards-section .award-item {
    gap: 1.5rem;
    margin-bottom: 3rem;
  }
  .awards-section .award-item .award-text h3 {
    font-size: 1.1rem;
  }
  .awards-section .award-item .award-text p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .awards-section .award-item .award-text .read-more-btn {
    font-size: 0.95rem;
    padding: 0.5rem 1.2rem;
    width: 100%;
    width: calc(100% - 20.5px);
    display: block;
    text-align: center;
    clip-path: none;
  }
  .awards-section .award-item .award-border .award-image img {
    width: 100%;
    scale: 1;
  }
  .speakers-section .speakers-intro h2 {
    font-size: var(--font-semi-xl);
  }
  .speakers-section .speakers-intro p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .speakers-section .speakers-intro .nav-buttons button {
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
  }
  .speakers-section .speaker-card .speaker-info {
    width: calc(100% - 140px);
  }
  .speakers-section .speaker-card .speaker-info h4 {
    font-size: var(--font-sm);
  }
  .speakers-section .speaker-card .speaker-info .affiliation {
    font-size: var(--font-sm);
  }
  .speakers-section .speaker-card .speaker-info p {
    font-size: var(--font-xs);
  }
  .speakers-section .owl-carousel .owl-nav {
    left: auto;
    right: 0;
    bottom: -2px;
    background: #fff;
  }
  .research-section .research-intro {
    margin-bottom: 30px;
  }
  .research-section .research-intro h2 {
    font-size: var(--font-semi-xl);
  }
  .research-section .research-intro .subheading {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  .research-section .research-intro .description {
    font-size: 0.9rem;
  }
  .research-section .labs .lab-details {
    padding: 1.5rem 1rem;
    font-size: 0.9rem;
  }
  .research-section .labs .lab-details p {
    font-size: 0.9rem;
  }
  .research-section .labs .lab-list p {
    font-size: 0.9rem;
  }
  .research-section .publications h3 {
    font-size: 1rem;
  }
  .research-section .publications ul li {
    font-size: 0.9rem;
    gap: 0.4rem;
  }
  .research-section .publications ul li img {
    width: 14px;
    height: 14px;
    margin-top: 0.4rem;
  }
  .alumni-section h2 {
    font-size: var(--font-semi-xl);
  }
  .alumni-section .subtitle {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
  .alumni-section .alumni-border .alumni-card {
    padding: 1rem;
    gap: calc(1rem + 0.5vw);
  }
  .alumni-section .alumni-border .alumni-card::before, .alumni-section .alumni-border .alumni-card::after {
    display: none;
    bottom: -14rem;
    right: -15.5rem;
  }
  .alumni-section .alumni-border .alumni-card .alumni-info .alumni-header {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
  .alumni-section .alumni-border .alumni-card .alumni-info .description {
    font-size: 0.85rem;
  }
  .alumni-section .grid-links ul li {
    font-size: 0.85rem;
  }
  .contact-section .section-title {
    font-size: var(--font-semi-xl);
    margin-bottom: 1rem;
  }
  .site-footer .footer-left {
    font-size: 0.8rem;
    gap: 0.5rem;
    grid-template-columns: 1fr;
  }
  .site-footer .footer-right {
    font-size: 0.8rem;
    text-align: center;
  }
}

/*# sourceMappingURL=responsive.css.map */
